name: Release Obsidian plugin

on:
  push:
    tags:
      - "*"

env:
  STORE_PATH: ''

jobs:
  build:
    name: Build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: pnpm/action-setup@v4
        with:
          run_install: false
      - uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version: latest
          registry-url: https://registry.npmjs.org
      - run: pnpm install --frozen-lockfile
      - run: pnpm run build

      - id: version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag="${{ steps.version.outputs.VERSION }}"

          gh release create "${{ steps.version.outputs.VERSION }}" \
            --title="${{ steps.version.outputs.VERSION }}" \
            --draft \
            dist/main.js dist/manifest.json
